@model BikeShop.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dd class="col-sm-10">
            <table>
                @foreach (ShoppingBag shoppingBag in Model.myShoppingBags)
                {
                <tr>
                    <td>@shoppingBag.Date</td>
                    <td> @Html.ActionLink("Edit", "Edit", "ShoppingBags", new { id = shoppingBag.Id }, new { @class = "btn btn-primary" })</td>
                    <td> @Html.ActionLink("Check shoppingbag", "Details", "ShoppingBags", new { id = shoppingBag.Id }, new { @class = "btn btn-primary" })</td>
                    <td> @Html.ActionLink("Delete", "Delete", "ShoppingBags", new { id = shoppingBag.Id }, new { @class = "btn btn-primary" })</td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr>
<br>
@Html.ActionLink("Voeg ShoppingBag toe", "Create", "ShoppingBags", new { myCustomerId = Model.Id }, new { @class = "btn btn-primary" })



